<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'banner.jpg' %>');">
  <div class="banner-content">
    <h1>Secret Cocktails</h1>
    <p>Get your taste buds racing</p>
    <!-- <a class="btn btn-primary btn-lg">Explore now</a> -->
    <!-- <div class="row" > -->
      <div class="col-xs-6 col-xs-offset-3" >
        <%= link_to 'Explore Now', '', class: "btn btn-sm animated-button thar-three", style: "
      z-index: 1;"%>
      <!-- <a href="#" class="btn btn-sm animated-button thar-three" style=" -->
      <!-- z-index: 1;">Explore Now</a> -->
    </div>
    <!-- </div> -->
  </div>
</div>

<h1>Cocktail Secrets</h1>

<ul>
  <% @cocktails.each do |c| %>
  <li><%= link_to c.name, cocktail_path(c) %></li>
  <% end %>
</ul>

<h5><%= link_to "Add new cocktail", new_cocktail_path  %></h5>
