.button-ingredient {
  color: black;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #E91E63;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  // 0s;
}
.button-ingredient:hover {
  color: #fff !important;
  background-color: #E91E63;
  text-shadow: nthree;
}
